# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
backend/.env
.env.example
!.env.example
backend/.env.example
backend/.env


# Node
node_modules/
.next/
out/
dist/

# Build files
build/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/